# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [15]:
#Your code here

import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
c = conn.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [16]:
c.execute('''select * from employees limit 5''')

df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056,Sale Manager (EMEA)

In [6]:
#Your code here
c.execute("""select firstname, lastname from employees join offices using(officecode) where city = "Boston";""")
df = pd.DataFrame(c.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in c.description]
df

  firstName   lastName
0     Julie   Firrelli
1     Steve  Patterson

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [8]:
#Your code here

c.execute("""select city, count(*) from employees left join offices using(officecode) group by 1;""")
df = pd.DataFrame(c.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in c.description]
df.head()

            city  count(*)
0         Boston         2
1         London         2
2            NYC         2
3          Paris         5
4  San Francisco         6

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold

In [27]:
# Your code here
c.execute("""select firstname, lastname, customername 
from employees as e
join customers as c 
on e.employeenumber=c.salesrepemployeenumber
join orders as o
using(customernumber)
join orderdetails as od
using(ordernumber)
join products as p
using()
;""")
df = pd.DataFrame(c.fetchall()) 
df

           0          1                                   2
0     Leslie   Jennings            Corporate Gift Ideas Co.
1     Leslie   Jennings        Mini Gifts Distributors Ltd.
2     Leslie   Jennings                     Mini Wheels Co.
3     Leslie   Jennings            Signal Collectibles Ltd.
4     Leslie   Jennings                Technics Stores Inc.
5     Leslie   Jennings           The Sharp Gifts Warehouse
6     Leslie   Thompson                   Boards & Toys Co.
7     Leslie   Thompson        Collectable Mini Designs Co.
8     Leslie   Thompson          Men 'R' US Retailers, Ltd.
9     Leslie   Thompson                  Signal Gift Stores
10    Leslie   Thompson                   Toys4GrownUps.com
11    Leslie   Thompson         West Coast Collectables Co.
12     Julie   Firrelli          Cambridge Collectables Co.
13     Julie   Firrelli             Classic Gift Ideas, Inc
14     Julie   Firrelli          Collectables For Less Inc.
15     Julie   Firrelli                Diecast Collectables
16     Julie   Firrelli                 Mini Creations Ltd.
17     Julie   Firrelli            Online Mini Collectables
18     Steve  Patterson             Auto-Moto Classics Inc.
19     Steve  Patterson               Diecast Classics Inc.
20     Steve  Patterson                    FunGiftIdeas.com
21     Steve  Patterson                   Gifts4AllAges.com
22     Steve  Patterson                Marta's Replicas Co.
23     Steve  Patterson        Online Diecast Creations Co.
24  Foon Yue      Tseng              American Souvenirs Inc
25  Foon Yue      Tseng                Classic Legends Inc.
26  Foon Yue      Tseng                     Microscale Inc.
27  Foon Yue      Tseng                  Muscle Machine Inc
28  Foon Yue      Tseng        Québec Home Shopping Network
29  Foon Yue      Tseng                    Super Scale Inc.
..       ...        ...                                 ...
70     Barry      Jones                  Baane Mini Imports
71     Barry      Jones  Bavarian Collectables Imports, Co.
72     Barry      Jones                Blauer See Auto, Co.
73     Barry      Jones             Clover Collections, Co.
74     Barry      Jones                        Herkku Gifts
75     Barry      Jones           Norway Gifts By Mail, Co.
76     Barry      Jones             Scandinavian Gift Ideas
77     Barry      Jones             Toms Spezialitäten, Ltd
78     Barry      Jones            Volvo Model Replicas, Co
79      Andy     Fixter             Anna's Decorations, Ltd
80      Andy     Fixter        Australian Collectables, Ltd
81      Andy     Fixter          Australian Collectors, Co.
82      Andy     Fixter         Australian Gift Network, Co
83      Andy     Fixter           Souveniers And Things Co.
84     Peter      Marsh          Down Under Souveniers, Inc
85     Peter      Marsh       Extreme Desk Decorations, Ltd
86     Peter      Marsh                     GiftsForHim.com
87     Peter      Marsh                    Handji Gifts& Co
88     Peter      Marsh                   Kelly's Gift Shop
89      Mami      Nishi                     Cruz & Sons Co.
90      Mami      Nishi             Dragon Souveniers, Ltd.
91      Mami      Nishi         King Kong Collectables, Co.
92      Mami      Nishi                Osaka Souveniers Co.
93      Mami      Nishi             Tokyo Collectables, Ltd
94    Martin     Gerard                         CAF Imports
95    Martin     Gerard          Corrida Auto Replicas, Ltd
96    Martin     Gerard                  Enaco Distributors
97    Martin     Gerard          Iberia Gift Imports, Corp.
98    Martin     Gerard               Precious Collectables
99    Martin     Gerard                     Vida Sport, Ltd

[100 rows x 3 columns]

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!